body, html {
    width: 100%; height: 100%;
    margin: 0; padding: 0;
}

body {
    font: 400 16px 'Karla', Arial;
    letter-spacing: 0;
    line-height: 32px;
}

h1, h2, h3, h4, h5, h6 {
    font: 300 64px/72px Montserrat, Arial;
    letter-spacing: -3px;
}

/* STRUCTURE & LAYOUT */

.fullscreen {
    display: table;
    width: 100%; height: 100%;
}

.fullscreen-child {
    display: table-cell;
    width: 100%; height: 100%;
    vertical-align: middle;
}